---
title: Gallery
photos:
  - image: /uploads/treeness1.png
    imagesmall: /uploads/small/treeness1.png
    ratio: 0.6674
    linkto: /gallery/treeness/
    caption: >
      Treeness<br/>
      願托喬木
  - image: /uploads/fireworks1.JPG
    imagesmall: /uploads/small/fireworks1.JPG  
    ratio: 0.5625
    linkto: /gallery/fireworks/
    caption: >
      Hanabi<br/>
      花火
  - image: /uploads/3EA916BA-E054-4E50-ABF2-F4A4284D1D59.JPG
    imagesmall: /uploads/small/3EA916BA-E054-4E50-ABF2-F4A4284D1D59.jpg
    ratio: 0.9968
    linkto: /gallery/terra/
    caption: >
      Terra Lucida<br/>
      澄澈大地
  - image: /uploads/IMG_1311.jpg
    imagesmall: /uploads/small/ IMG_1311.jpg
    ratio: 0.75
    linkto: /gallery/moments/
    caption: >
      Ichi-go ichi-e<br/>
      一期一会
  - image: /uploads/96139B27-4057-482B-9803-E99295F966E9.jpg
    imagesmall: /uploads/small/96139B27-4057-482B-9803-E99295F966E9.jpg
    ratio: 0.6305
    linkto: /gallery/illuminance/
    caption: About Light, About Shadow
  - image: /uploads/IMG_1188.jpg
    imagesmall: /uploads/small/IMG_1188.jpg
    ratio: 0.6305
    linkto: /gallery/grayscale/
    caption: >
      Grayscale<br/>
      灰度
  - image: /uploads/D82A0622.jpg
    imagesmall: /uploads/small/D82A0622.jpg
    ratio: 0.6305
    linkto: /gallery/transient/
    caption: >
      Impermanence<br/>
      无常
---

<ul class="gallery">
	{% for photo in page.photos %}
		<li style="background-image: url({{ photo.imagesmall | resize: '1600x800' }});">
            <a title="" href="{{ photo.linkto }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}">
                {% if photo.caption %}
                <div class="album-static-cover">
					        <em>{{ photo.caption }}</em>
                </div>
                {% else %}
                <div class="no-album-cover">
                </div>
                {% endif %}
            </a>
        </li>
	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>
