---
title: Gallery
photos:
  - image: /uploads/treeness1.png
    linkto: /gallery/treeness/
    caption: >
      Treeness<br/>
      願托喬木
  - image: /uploads/yong-he-temple.png
    linkto: /gallery/samgharama/
    caption: >
      The Story of Temples<br/>
      伽藍記
  - image: /uploads/96139B27-4057-482B-9803-E99295F966E9.jpg
    linkto: /gallery/illuminance/
    caption: About Light, About Shadow
  - image: /uploads/fireworks1.JPG
    linkto: /gallery/fireworks/
    caption: >
      Hanabi<br/>
      花火
  - image: /uploads/3EA916BA-E054-4E50-ABF2-F4A4284D1D59.JPG
    linkto: /gallery/samsara/
    caption: >
      Samsara<br/>
      輪迴之境
---

<ul class="gallery">
	{% for photo in page.photos %}
		<li style="background-image: url({{ photo.image | resize: '800x800' }})">
            <a title="" href="{{ photo.linkto }}" data-id="#{{ photo.image | slugify }}" data-caption="{{ photo.caption }}">
                {% if photo.caption %}
                <div class="album-static-cover">
					<em>{{ photo.caption }}</em>
                </div>
                {% else %}
                <div class="no-album-cover">
                </div>
                {% endif %}
            </a>
        </li>
	{% endfor %}
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
	<li class="spacer"></li>
</ul>