<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

	<!--
	<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
	{% if link.menu %}
	<div class="dropdown-menu">
		{% for item in link.menu %}
		<a href="{{ item.sublink }}">{{ item.subname }}</a>
		{% endfor %}
	</div>
	{% endif %}
	-->
	<div class="subnav">
		<a href="{{ link.link }}">{{ link.name }}</a>
		{% if link.menu %}
        <!--   !!!!!!!!!! this is for subpages with static subnavs
			{% if page.url == link.link or page.url contains link.link %}
				<div class="subnav-content-constant">
					{% for item in link.menu %}
						<a href="{{ item.sublink }}">{{ item.subname }}</a>
					{% endfor %}
				</div>
			{% else %}
				<div class="subnav-content">
					{% for item in link.menu %}
						<a href="{{ item.sublink }}">{{ item.subname }}</a>
					{% endfor %}
				</div>
			{% endif %}
			!!!!!!!!!! this is for subpages with static subnaves
		-->
        <!-- if I just want hovering then visible subnav bar for all pages.... -->
        <div class="subnav-content">
            {% for item in link.menu %}
            <a href="{{ item.sublink }}">{{ item.subname }}</a>
            {% endfor %}
        </div>
		{% endif %}
	</div>
	<!--
		{% if link.menu %}
					<div class="subnav">
						<a href="{{ link.link }}">{{ link.name }}</a>
						<div class="subnav-content">
							{% for item in link.menu %}
								<a href="{{ item.sublink }}">{{ item.subname }}</a>
							{% endfor %}
						</div>
					</div>

		{% else %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
		{% endif %}
	-->


	{% endfor %}
</nav>