<nav>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
	{% assign class = "" %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}
		{% if link.menu %}
					<div class="dropdown">
						<a href="{{ link.link }}">{{ link.name }}</a>
					{% for item in link.menu %}
					<a href="{{ item.sublink }}">{{ item.subname }}</a>
					{% endfor %}
					</div>

		{% else %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>