html {
	background: $background;
	color: $color;
	font-family: 'Cormorant Garamond', serif;
}

header {
	display: flex;
	margin-bottom: 3em;
	font-family: 'Cormorant Garamond', serif;
}

a {
	color: $color;
	text-decoration: none;

	&:hover {
			color: $link-color;
		}
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
	font-family: 'Cormorant Garamond', serif;
}

em {
	font-size: .9em;
	font-style: normal;
	font-family: 'Noto Serif TC', serif;
}

nav {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: -15px;
	font-size: 1em;

	a {
		padding: 15px;
		text-decoration: none;
		color: darken($color, 30%);
		transition: color .2s ease;

		&.active {
			color: $color;
		}

		&:hover {
			color: $link-color;
		}
	}
}

section{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;

	a {
		padding: 20px;
		text-decoration: none;
		color: darken($color, 30%);
		transition: color .2s ease;

		&.active {
			color: $color;
		}

		&:hover {
			color: $link-color;
		}
	}
}

img {
	max-width: 100%;
}

footer {
	font-size: .8em;
	text-align: center;
	color: #aaa;
	margin: 23px 0;

	a {
		color: #aaa;

		&:hover {
			color: $link-color
		}
	}
}