body {
    width: 100%;
}

.wrap {
	padding: 0 50px;
}

header h1 a {
	text-decoration: none;
	color: $color;
}

.text-width {
	max-width: 1000px;
	margin: 0 auto;
}

.gallery {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	li {
		padding: 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 1 0 300px;
		margin: 10px;
		box-sizing: border-box;
		max-width: 450px;
		vertical-align: center;

		&:before {
			content: '';
			padding-top: 100%;
			display: block;
			float: left;
		}

		&.spacer {
			height: 0;
			margin-top: 0;
			margin-bottom: 0;
			&:before {
				padding: 0;
			}
		}

		a {
			display: block;
			text-align: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			transition: background .2s ease;
		}

        a .album-static-cover {
            display: flex;
			justify-content: center;
			align-items: center;
			color: $color;
			font-size: 1.1em;
			background-color: rgba($background, .8);
			padding: 15px;
			width: 94.75%;
            height: 15%;
			vertical-align: center;
            margin: 0;
            transition: 0.4s ease-out;
        }

        a:hover .album-static-cover {
            background: rgba($background, .8);
            height: 30%;
        }

		a .album-cover {
            opacity: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color;
			font-size: 1.1em;
			background-color: rgba($background, .8);
			padding: 15px;
			width: 94.75%;
			vertical-align: center;
            margin: 0;
            transition: 0.4s ease-out;
		}

		a:hover .album-cover {
            opacity: 1;
			}

		a .no-album-cover {
			visibility: hidden;
			background-color: rgba($background, .2);
			margin: 0;
			width: 100%;
			height: 100%;
		}
		a:hover .no-album-cover {
			visibility: visible;
		}
	}
}

.caption {
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,#000 100%);
	color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	z-index: 999;
}